/* .contact-body{
    
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.5)) rgb(1, 0, 83);
    height: 100vh;
    margin-top: -20px;
}
*/

.contact-container{
    background:#2d313b;
    padding:160px 10px;
}
.form-container{
    position:relative;
    width:50%;
    top:30%;
    margin:auto;
    background:#444851;
    padding:50px 30px;
    color:white;
    border-radius:10px;
}

@media only screen and (max-width:991px){
    .form-container{
        width:80%;
    }
}